{% extends 'baseAdmin.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
    <h1>Panier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdPanier</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Qty</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td>{{ panier.idPanier }}</td>
                <td>{{ panier.nom }}</td>
                <td>{{ panier.prix }}</td>
                <td>{{ panier.qty }}</td>
                <td>
                    <a href="{{ path('app_panier_show', {'idPanier': panier.idPanier}) }}">show</a>
                    <a href="{{ path('app_panier_edit', {'idPanier': panier.idPanier}) }}">edit</a>
                    <a href="{{ path('app_commande_new') }}"style="color:#ed174a;">Commander</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_panier_new') }}">Create new</a>
{% endblock %}
