{% extends 'baseBack.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>
     <form method="post" action="{{ path('reclamation_rechercheCB') }}">
                                <input type="text" name="search" class="btn btn-outline-info">
                                <input type="submit" value="{% trans %}Recherche{% endtrans %}" class="btn btn-info">
                </form>
                 <div style="margin-law:20px;">
        <div class="row">
    <div class="col">
    <div class="col text-right">
        <a class="btn btn-info mr-3" href="{{ path('order_By_categorie')}}">Trier par Categorie</a>
        
    </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.categorie }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">show</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Create new</a>
    
{% endblock %}
